* {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

.App {
	margin-top: 20px;
}

header {
	display: flex;
	align-items: center;
	margin-bottom: 30px;
}

.news-block-header {
	display: flex;
}

.navigation-list {
	display: flex;
	margin-bottom: 10px;
}

.navigation-list-elem:not(:last-child) {
	margin-right: 5px;
}

.news-list {
	margin-bottom: 15px;
}

.news-list-elem {
	display: flex;
}

.currencies-list {
	display: flex;
}

.currencies-list-elem {
	display: flex;
}

.currencies-list-elem:not(:last-child) {
	margin-right: 5px;
}

.search-block {
	display: flex;
	align-items: center;
	margin-bottom: 30px;
}

.main-logo {
	margin-right: 10px;
}

.widgets-block {
	margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}

.widget {
	margin-bottom: 20px;
}

.widget:nth-child(2n) {
  margin-left: 10px;
  margin-right: 10px;
}

.program-list-elem {
	display: flex;
}

.broadcast-list-elem {
	display: flex;
}